:root {
  /*Primary*/
  --very-dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  /*Accent*/
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);
  /*Neutral*/
  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);

  /* Font : Headings, Call-to-actions, Header Navigation*/
  --font-one: 'Open Sans', sans-serif;
  /* Font Body */
  --font-two: 'Raleway', sans-serif;

  --padding-container: 90px 0;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-one);
}
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
  padding: var(--padding-container);
}
.nav {
  display: flex;
  align-items: center;
  gap: 1.1em;
  justify-content: space-between;
  --padding-container: 40px 0;
}
.nav__logo {
  width: 100px;
}
.nav__img {
  width: 100%;
  display: block;
}
.nav__navbar {
  display: flex;
  justify-content: space-evenly;
  gap: 1em;
  list-style: none;
}
.nav__link {
  text-decoration: none;
  color: var(--desaturated-blue);
  font-family: var(--font-one);
}
.hero {
  position: relative;
  --padding-container: 90px 0 170px;
}
.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100px;
  background-image: url(../images/bg-curve-mobile.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
  bottom: 0;
}
.hero__main {
  display: flex;
  flex-direction: column;
}
.hero__img {
  width: 100%;
  display: block;
  max-width: 400px;
  margin: 0 auto;
}
.hero___info {
  text-align: center;
  color: var(--very-dark-blue);
  font-size: 1.7rem;
  font-family: var(--font-one);
  margin-top: 1.8em;
}
.hero__title {
  font-size: 1.7rem;
  font-family: var(--font-two);
  margin-top: 1.8em;
}
.hero__paragraph {
  line-height: 1.6;
  margin: 1.5em 0;
}
.hero__input {
  height: 45px;
  width: 100%;
  border-radius: 6px;
  font: inherit;
  border: 1px solid var(--very-dark-blue);
  padding: 0 20px;
  font-family: var(--font-body);
}
.hero__input--button {
  background-color: var(--bright-blue);
  color: white;
  border: none;
  font-weight: 700;
  margin-top: 1.2em;
}
/* section productives */
.productive {
  background-color: var(--light-grayish-blue);
  --padding-container: 30px 0 90px; 
}
.productive__img {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: block;
}
.productive__main {
  margin-top: 6em;
}
.productive__title {
  font-size: 1.1rem;
  text-align: center;
  color: var(--very-dark-blue);
  font-family: var(--font-body);
}
.productive__paragraph {
  color: var(--desaturated-blue);
  line-height: 1.6;
  margin-top: 1.5em;
  margin-bottom: 1.2em;
  text-align: left;
}
.productive__paragraph:last-of-type {
  margin:0;
}
.productive__button {
  display: block;
  max-width: max-content;
  margin: 2em auto 3em;
  text-decoration: none;

  color: var(--moderate-cyan);
  border-bottom: 2px solid;
  padding-bottom: 4px;
}
.productive__arrow {
  vertical-align: middle;
}
.productive__testimony {
  width: 95%;
  max-width: 350px;
  margin: 0 auto;
  background-color: white;
  padding: 2em 1.5em;
  border-radius: 1em;
  box-shadow: 0 0 10px -5px rgba(0, 0, 0, .5);
}
.productive__quote {
  width: 25px;
}
.productive__review {
  margin: .5em 0 1.5em;
  color: var(--very-dark-blue);
  line-height: 1.5;
}
.productive__card {
  display: flex;
  align-items: center;
  gap: .8em;
}
.productive__person {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}
/* section newsletter */
.newsletter {
  background-color: var(--desaturated-blue);
  color: white;
  text-align: center;
}
.newsletter__title {
  font-family: var(--font-one);
}
.newsletter__paragraph {
  line-height: 1.6;
  margin: 1.3em;
}
.newsletter__form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 2em;
}
.newsletter__input {
  padding: 1em .5em;
  font: inherit;
  font-family: var(--font-one);
  border-radius: 3px;
  border: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, .5);
}
.newsletter__submit {
  color: white;
  background-color: var(--bright-blue);
  padding: 1em .5em;
  font: inherit;
  font-family: var(--font-one);
  border-radius: 3px;
  border: none;
}
.footer {
  background-color: var(--very-dark-blue);
  color: white;
}
.footer__container {
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.footer__picture {
  width: 166px;
}
.footer__logo {
  width: 100%;
  display: block;
}
.footer__info {
  font-size: 1.2rem;
}
.footer__icon {
  margin-right: .5em;
  vertical-align: middle;
}
.footer__navbar {
  display: flex;
  flex-direction: column;
  gap: 1em;
  list-style: none;
}
.footer__link {
  text-decoration: none;
  color: white;
  font-family: var(--font-one);
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__social {
  display: flex;
  width: max-content;
  margin: 0 auto;
  gap: 1.1em;
}
.footer__media {
  text-decoration: none;
  border: 1px solid white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
}
.footer__img {
  width: 20px;
  height: 20px;
  margin: auto;
}
@media screen and (min-width: 768px) {
  .hero {
    --padding-container: 90px 0 200px;
  }
  .hero::before {
    background-image: url(../images/bg-curve-desktop.svg);
  }
  .hero__img {
    max-width: none;
  }
  .hero__main {
    flex-direction: row;
    align-items: center;
    gap: 1.5em;
  }
  .hero___info {
    order: -1;
    text-align: left;  
  }
  .hero__title {
    margin-top: 0;
    font-size: 1.5rem; 
  }
  .hero__paragraph {
    font-size: 1rem;
  }
  .hero__contact {
    display: flex;
    gap: 1em;
    font-size: .8rem;
  }
  .hero__input {
    min-width: 160px;
    flex-grow: 1;
  }
  .hero__input--button {
    margin-top: 0;
    flex-grow: 0;
    width: 160px;
  }
  /* section productive */
  .prodctive__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .productive__picture {
    width: 45%;
    order: 1;
  }
  .productive__img {  
    max-width: none;  
  }
  .productive__main {
    margin-top: 0;
    width: 52%;
  }
  .productive__title {
    font-size: 2.1rem;
    text-align: left;
  }
  .productive__button {
    margin: 2em 0 3em; 
  }
 
  .productive__testimony {   
    max-width: 420px;
    margin: 2px;
  }
  /* section newsletter */
  .newsletter__container{
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
  .newsletter__paragraph {
    margin-left: 0;
  }
  .newsletter__texts {
    width: 45%;
    max-width: 450px;
  }
  .newsletter__form {
    width: 45%; 
    margin: 0; 
    max-width: 500px;
    flex-wrap: wrap;  
  }
  .newsletter__input {
    width: 100%;
  }
  .newsletter__submit {
    width: max-content;
    padding: 1em 2em;
  }
  .footer__container {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__picture {
    width: 100%;
  }
  .footer__logo {
    width: max-content;
  }
  .footer__contact {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .footer__social {
    
    margin: 0;
    
  }

}
